**/.ipynb_checkpoints/
event_zh/SinoCoreferencer/data/*
event_zh/SinoCoreferencer/logs/*
**/*.log
data_dir/*
out_dir/
**/__pycache__/
*.json
!FGC_release_*.json
*.txt
FGC_data/
**/test_data/
**/fgc_data_out/
event_zh/SinoCoreferencer/tempfile*
tempfile
